
GEMINI_API_KEY=AIzaSyCtEJUPWFfWewFO9UgbdkwRwOh2MvEUlWE


TAVILY_API_KEY=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


OPENAQ_API_KEY=your_openaq_api_key_here


IQAIR_API_KEY=your_iqair_api_key_here

WAQI_API_KEY=7616cb77c13b13fd483b76c94ae8ba422dc94e8c
WAQI_TOKEN=7616cb77c13b13fd483b76c94ae8ba422dc94e8c


OPENWEATHER_API_KEY=your_openweather_api_key_here


LOG_LEVEL=INFO
